# Workflow for Digger Terraform Drift Detection

name: Digger Workflow for Drift Detection

on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * MON'  # every Monday at 7am UTC

permissions:
  contents: write      # required to merge PRs
  actions: write       # required for plan persistence
  id-token: write      # required for workload-identity-federation
  pull-requests: write # required to post PR comments
  issues: write        # required to check if PR number is an issue or not
  statuses: write      # required to validate combined PR status

jobs:
  digger-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Digger drift detection
        uses: diggerhq/digger@vLatest
        with:
          mode: drift-detection
          digger-filename: digger-drift.yaml
          digger-token: ${{ secrets.DIGGER_GITHUB_TOKEN }}
          no-backend: true
          # set up requirements
          setup-terraform: true
          terraform-version: 1.14.3
          setup-terragrunt: true
          terragrunt-version: 0.96.1
          # has AssumeRole to required roles and also state management permissions
          setup-aws: true
          aws-role-to-assume: ${{ vars.DIGGER_DEPLOYMENT_ROLE }}
          aws-region: eu-west-2
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_DRIFT_GITHUB_ISSUES: 'true'
          GIT_CONFIG_COUNT: "1"
          GIT_CONFIG_KEY_0: "url.https://x-access-token:${{ secrets.GH_PAT_MODULES }}@github.com/.insteadOf"
          GIT_CONFIG_VALUE_0: "ssh://git@github.com/"
